<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  	<meta name='viewport' content='width=device-width'>

    <title>{{ title }}</title>
    <meta name='description' content="{{ description }}">
    <meta name="theme-color" content="#ffffff"/>

    <!-- <meta property="og:url" content="{{ url }}" /> -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="https://opennebraska.github.io/nsorg/opennebraska.jpg" />

    <!-- https://rknight.me/please-expose-your-rss/ -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.rss }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json" />

    <!-- https://datatables.net/ -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script>
      // https://datatables.net/
      $(document).ready( function () {
        $('#df1').DataTable({
          paging: false,  // https://datatables.net/reference/option/paging
          searching: false,
          info: false,
        });
        $('#df2').DataTable(); // '#myTable', {
          // none of this works? If it's possible to just draw tables that are only as
          // wide as they need to be, I have no idea how.
          // autoWidth: false,  // https://datatables.net/reference/option/autoWidth
          // columnDefs: [{width: 5, targets: 0}],
          //fixedColumns: true,
        // });

        // Nah, the fancy table looks worse:
        // $('#df10').DataTable({
        //   paging: false,
        //   searching: false,
        //   info: false,
        // });
      });
    </script>

  </head>

  <body class="dark:text-white dark:bg-black">

    <h1>{{title}}</h1>

    <p>
    For the official website, see <a href="https://opportunity.nebraska.gov/programs/recovery/nsorg/">NSORG</a>
    by the Nebraska Department of Economic Development.</p>

    <p>This website has been created by
    <a href="https://opennebraska.org">Open/Nebraska</a> volunteers.
    If you discover any errors on this website, or want to request new features, please
    <a href="https://github.com/opennebraska/nsorg/issues">create an Issue</a>.</p>

    <p>
      <b>{{proposal_count}}</b> proposals were submitted for project budgets totalling <b>{{total_budget}}</b>.
      For those proposals, <b>{{total_requested}}</b> was requested. <b>{{total_awarded}}</b> was awarded.
      <b>{{proposals_awarded_0}}</b> proposals were awarded <b>$0</b>.
    </p>

    <h2>Awards by Category</h2>
    {{ df1 }}
    
    <h2>All Proposals</h2>
    {{ df2 }}

    <h2>Award Counts</h2>
    <table>
      <tr>
        <td valign="top">
          {{ df10 }}
        </td>
        <td>
          <img src="d11.png">
          <!-- Simple pie chart I'm pretty happy with  <img src="d50-3.png">  -->
          <!-- Simple bar chart I'm pretty happy with  <img src="d50-1.png">  -->
          <!-- Default histogram chart that doesn't make much sense to me?  <img src="d50-2.png">  -->
        </td>
      </tr>
    </table>

    <h2>Timeline / News</h2>

    <h3>2024</h3>
    <ul>
      <li>Apr 3: WOWT: <a href="https://www.wowt.com/2024/04/04/omaha-building-owner-suing-state-after-being-denied-grant-money/"
        >Omaha building owner suing state after being denied grant money</a></li>
      <li>Mar 7: Nebraska Examiner: <a href="https://nebraskaexaminer.com/2024/03/07/south-omaha-group-reveals-updated-vision-for-25-million-state-funded-adelante-park-project/"
        >South Omaha group reveals updated vision for $25 million state-funded ‘Adelante’ park project</a></li>
      <li>Feb 12: Nebraska Examiner: <a href="https://nebraskaexaminer.com/briefs/north-omahans-pack-a-room-to-discuss-next-steps-in-spending-millions-of-state-economic-development-funds/"
        >North Omahans pack a room to discuss 'next steps' in spending millions of state economic development funds</a></li>
      <li>Jan 29: Nebraska DED: <a href="https://opportunity.nebraska.gov/gov-pillen-state-senators-and-local-leaders-celebrate-announcement-of-234-million-of-economic-recovery-grants-for-north-and-south-omaha/"
        >Gov. Pillen, State Senators, and Local Leaders Celebrate Announcement of $234 Million of Economic Recovery Grants</a></li>
      <li>Jan 26: Nebraska Examiner: <a href="https://nebraskaexaminer.com/2024/01/26/about-130-groups-in-north-and-south-omaha-to-share-235-million-in-development-funds/"
        >About 130 groups in North and South Omaha to share $235 million in development funds</a></li>
      <li>Jan 25: Nebraska Examiner: <a href="https://nebraskaexaminer.com/2024/01/25/complaints-rise-about-south-north-omaha-grant-process-as-friday-announcement-approaches/"
        >Complaints rise about South, North Omaha grant process as Friday announcement approaches</a></li>
      <li>Jan 18: Nebraska Examiner: <a href="https://nebraskaexaminer.com/briefs/lawmakers-hold-up-gov-pillens-state-of-the-state-address-detailing-disrespect-of-north-omaha/"
        >Lawmakers hold up Gov. Pillen's “State of the State” address, detailing “disrespect” of North Omaha</a></li>
      <li>Jan 10: Nebraska Examiner: <a href="https://nebraskaexaminer.com/2024/01/10/nearly-125-million-is-announced-for-north-omaha-growth-though-some-elected-officials-have-qualms/"
        >Nearly $125 million is announced for North Omaha growth, though some elected officials have qualms</a></li>
    </ul>

    <h3>2023</h3>
    <ul>
      <li>Dec 13: Nebraska Examiner: <a href="https://nebraskaexaminer.com/2023/12/13/two-lawmakers-want-nebraska-to-have-less-control-of-north-omaha-economic-development/"
        >Two lawmakers want Nebraska to have less control of North Omaha economic development</a></li>
      <li>Nov 13: Nebraska Examiner: <a href="https://nebraskaexaminer.com/2023/11/13/conflict-arises-over-how-best-to-use-public-funds-to-transform-south-omahas-plaza-de-la-raza/"
        >Conflict arises over how best to use public funds to transform South Omaha's 'Plaza de la Raza'</a></li>
      <li>Nov 6: Nebraska Examiner: <a href="https://nebraskaexaminer.com/briefs/open-house-events-in-north-and-south-omaha-hosted-by-ne-department-of-economic-development/"
        >'Open house' events in North and South Omaha hosted by NE Department of Economic Development</a></li>
      <li>Oct 20: Nebraska DED: <a href="https://opportunity.nebraska.gov/nebraska-department-of-economic-development-opens-application-for-entrepreneurship-innovation-grants/"
        >DED Opens Applications</a></li>
      <ul>
        <li>Entrepreneurship & Innovation Grants</li>
      </ul>
      <li>Oct 13: Nebraska DED: <a href="https://opportunity.nebraska.gov/nebraska-department-of-economic-development-opens-application-for-recovery-housing-grants/"
        >DED Opens Applications</a></li>
      <ul>
        <li>Recovery Housing Grants</li>
      </ul>
      <li>Oct 2: Nebraska DED: <a href="https://opportunity.nebraska.gov/ded-opens-applications-for-two-funding-categories-within-the-north-and-south-omaha-recovery-grant-program-1-sports-tourism-2-arts-culture-social-assistance/"
        >DED Opens Applications for Two Funding Categories</a></li>
      <ul>
        <li>Sports & Tourism</li>
        <li>Arts, Culture & Social Assistance</li>
      </ul>
      <li>Sep 18: Nebraska DED: <a href="https://opportunity.nebraska.gov/nebraska-department-of-economic-development-opens-regular-office-hours-at-north-and-south-omaha-locations/"
        >DED Opens Regular Office Hours at North and South Omaha Locations</a></li>
      <li>Sep 12: Nebraska DED: <a href="https://opportunity.nebraska.gov/ded-launches-small-business-support-grant-opportunity-under-the-north-south-omaha-recovery-grant-program/"
        >DED Launches Grant Opportunity</a></li>
      <ul>
        <li>Small Business Support Grants</li>
      </ul>
      <li>Sep 9: Nebraska Examiner: <a href="https://nebraskaexaminer.com/2023/09/09/reignited-process-to-award-225-million-in-grants-to-north-south-omaha-has-unlikely-critics/"
        >Reignited process to award $225 million in grants to North, South Omaha has unlikely critics</a></li>
      <li>Sep 9: Nebraska Examiner: <a href="https://nebraskaexaminer.com/briefs/forum-sparks-lots-of-questions-about-how-to-tap-into-millions-the-legislature-earmarked-for-north-and-south-omaha/"
        >Forum sparks lots of questions about how to tap into millions the Legislature earmarked for North and South Omaha</a></li>
      <li>Sep 8: Nebraska DED: <a href="https://opportunity.nebraska.gov/ded-opens-applications-for-two-funding-categories-within-the-north-south-omaha-recovery-grant-program/"
        >DED Opens Applications</a></li>
      <ul>
        <li>Recovery Assistance Program of Immediate Distribution (RAPID)</li>
        <li>Youth, Talent and Workforce Development Program</li>
      </ul>
      <li>Sep 1: Nebraska DED: <a href="https://opportunity.nebraska.gov/ded-opens-placemaking-infrastructure-applications-within-the-north-south-omaha-recovery-grant-program/"
        >DED Opens Applications</a></li>
      <ul>
        <li>Placemaking Infrastructure Grants</li>
      </ul>
      <li>Aug 28: Nebraska DED: <a href="https://opportunity.nebraska.gov/ded-launching-program-webpage-for-north-and-south-omaha-recovery-grant-program-applications-to-open-soon/"
        >DED Launching Program Webpage, Applications to Open Soon</a></li>
      <li>Jun 1: Nebraska Legislature passes <a href="https://nebraskalegislature.gov/bills/view_bill.php?DocumentID=50390">LB531</a>: 
        Create and change grant and economic and community development programs, ...
        [listed here because it's referrenced in the Sep 12 2023 DED press release]</li>
      <li>Jan 19: Flatwater Free Press: <a href="https://flatwaterfreepress.org/omaha-senator-who-drove-grant-process-has-ties-to-potential-40-million-recipient/"
        >Omaha senator who drove grant process has ties to potential $40 million recipient</a></li>
      <li>Jan 10: Nebraska Examiner: <a href="https://nebraskaexaminer.com/2023/01/10/lengthy-list-of-south-and-north-omaha-grant-proposals-whittled-to-35/"
        >Lengthy list of South and North Omaha grant proposals whittled to 35</a></li>
      <li>Nebraska Legislature: <a href="https://www.nebraskalegislature.gov/reports/econrec.php">Economic Recovery Special Committee</a>:
        <a href="https://www.nebraskalegislature.gov/pdf/reports/committee/select_special/econrec/LB1024_2023.pdf"
        >2023 Economic Recovery Grant Program Coordination Plan (English)</a>
        <a href="https://www.nebraskalegislature.gov/pdf/reports/committee/select_special/econrec/LB1024_2023_spanish.pdf"
        >(Spanish)</a>
      </li>
      <ul>
        <li>"In 2022, the Nebraska State Legislature passed the Economic Recovery Act
      (LB1024), which provided $335 million in funding to assist North Omaha, South
      Omaha, and other communities that were disproportionately impacted by the
      COVID-19 pandemic" -- Senator Justin Wayne.</li>
      </ul>
    </ul>

    <h3>2022</h3>
    <ul>
      <li>Oct 28: Canyon Research Southwest, Inc. delivers to Olsson, Inc. their "Economic Impact Assessment."</li>
      <ul>
        <li><a href="https://nebraskalegislature.gov/pdf/reports/committee/select_special/econrec/appendix_f.pdf">Appendix F</a> - "raw"</li>
        <li><a href="https://nebraskalegislature.gov/pdf/reports/committee/select_special/econrec/appendix_g.pdf">Appendix G</a> - same data, prettier</li>
        <li>"A total of 369 grant applications have been submitted for consideration of LB1024 funding. The
          purpose of the attached Economic Impact Assessment is to estimate economic benefits generated
          by the proposed project outlined in each grant application. Where applicable, both construction
          and operational economic benefits were estimated based on the project information provided and
          a weighted ranking system applied."</li>
      </ul>
      <li>Oct 19: [Original] Deadline for proposal applications [<a href="https://www.omahaeconomicrecovery.com/">source</a>]</li>
      <li>Apr 12: Nebraska Legislature passes <a href="https://nebraskalegislature.gov/bills/view_bill.php?DocumentID=47459">LB1024</a>: 
        Adopt the Economic Recovery Act, create the Economic Recovery and Incentives Division and Housing Division of the
        Department of Economic Development, change provisions of the Middle Income Workforce Housing Investment Act,
        provide for grants, state intent regarding appropriations, and provide for a transfer from the Cash Reserve Fund</li>
      </li>
      <li>Feb 17: Nebraska Examiner: <a href="https://nebraskaexaminer.com/briefs/bill-advanced-to-provide-economic-recovery-grants-in-north-south-omaha/"
        >Bill advanced to provide 'economic recovery' grants in North, South Omaha</a></li>
    </ul>

    <p>[<a href="https://github.com/opennebraska/nsorg/">source code</a>]</p>

  </body>
</html>