<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  	<meta name='viewport' content='width=device-width'>

    <title>{{ title }}</title>
    <meta name='description' content="{{ description }}">
    <meta name="theme-color" content="#ffffff"/>

    <!-- <meta property="og:url" content="{{ url }}" /> -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ url }}/assets/img/posts/{{ image }}" />

    <!-- https://rknight.me/please-expose-your-rss/ -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.rss }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json" />

    <!-- https://datatables.net/ -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script>
      // https://datatables.net/
      $(document).ready( function () {
        $('#df1').DataTable({
          paging: false,  // https://datatables.net/reference/option/paging
          searching: false,
          info: false,
        });
        $('#df2').DataTable(); // '#myTable', {
          // none of this works? If it's possible to just draw tables that are only as
          // wide as they need to be, I have no idea how.
          // autoWidth: false,  // https://datatables.net/reference/option/autoWidth
          // columnDefs: [{width: 5, targets: 0}],
          //fixedColumns: true,
        // });

        // Nah, the fancy table looks worse:
        // $('#df10').DataTable({
        //   paging: false,
        //   searching: false,
        //   info: false,
        // });
      });
    </script>

  </head>

  <body class="dark:text-white dark:bg-black">

    <h1>{{title}}</h1>

    <p>
    For the official website, see <a href="https://opportunity.nebraska.gov/programs/recovery/nsorg/">NSORG</a>
    by the Nebraska Department of Economic Development.</p>

    <p>This website has been created by
    <a href="https://opennebraska.org">Open/Nebraska</a> volunteers.
    If you discover any errors on this website, or want to request new features, please
    <a href="https://github.com/opennebraska/nsorg/issues">create an Issue</a>.</p>

    <p>
      <b>{{proposal_count}}</b> proposals were submitted for project budgets totalling <b>{{total_budget}}</b>.
      For those proposals, <b>{{total_requested}}</b> was requested. <b>{{total_awarded}}</b> was awarded.
      <b>{{proposals_awarded_0}}</b> proposals were awarded $0.
    </p>

    <h2>Awards by Category</h2>
    {{ df1 }}
    
    <h2>All Proposals</h2>
    {{ df2 }}

    <h2>Award Counts</h2>
    <table>
      <tr>
        <td>
          {{ df10 }}
        </td>
        <td>
          <img src="d50-1.png">
          <img src="d50-2.png">
          <img src="d50-3.png">
          <img src="d10.png">
        </td>
      </tr>
    </table>

  </body>
</html>